html {
  background: linear-gradient(rgb(109, 178, 187), rgb(123, 179, 176));
  height: 100vh;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.grid {
  display: grid;
  height: 450px;
  width: 400px;
  background: linear-gradient(grey, grey);
  border: 1px solid black;
  grid-template-rows: repeat(5, 1fr);
}
.row-1 {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.row-2,
.row-3,
.row-4,
.row-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.style {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  border: 1px solid black;
  font-size: 30px;
  font-weight: bold;
  color: rgb(99, 181, 184);

  background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.438));
}
.display {
  background-color: rgb(76, 149, 161);
  font-size: 45px;
  font-weight: 450;
  border: 1px solid black;
}
.screen {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}
.sup {
  position: relative;
  bottom: 1ex;
  font-size: 60%;
}
